DEBUG=true

 # worker or manager
# MODE=manager for Debug
SERVICE_INTERNAL_PORT=9100
SERVICE_UVICORN_WORKERS=2

OPEN_API_ENABLED=True

DOCKER_SOCKET_PATH=tcp://localhost:2375

DOCKER_SELF_SERVICE_ID=container_healthcheck

